body {
    display: flex;
    flex-direction: column;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;

    &.dark {
        background-color: #3a3a3a;
    }
}

.page-wrapper {
    flex-grow: 1;
    margin: 40px 0;
}

#app {
    flex-grow: 1;
}

.theme-switch {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.footer {
    padding: 2em 0em !important;
    
    .icon.heart {
        margin: 0 5px !important;
    }   

    .github.icon {
        text-decoration: none;
    }
}

.authors, .footer {
    a {
        &:hover {
            opacity: 1;
        }
        
        margin: 0 5px !important;
        color: inherit;
        opacity: 0.75;
        text-decoration: underline;

        &:last-of-type {
            margin-right: 0 !important;
        }
    }
    display: inline-block;
}

.member {
    display: flex;

    .body {
        flex-grow: 1;
    }

    .actions {
        align-self: center;
        display: none;
    }
}

td:hover .member .actions {
    display: block !important;
}

.navs.shadow {
    box-shadow: 0 0 5px 0px rgb(39, 39, 39) !important;
}

$sidebarWidth: 210px;

._container {
    display: flex;
    flex-grow: 1;
    
    &>.left {
        flex-basis: $sidebarWidth;
        flex-grow: 0;
        flex-shrink: 0;
    }

    &>.center {
        flex-grow: 1;
        padding: 0 20px;
    }

    &>.right {
        flex-basis: $sidebarWidth;
        flex-grow: 0;
        flex-shrink: 1;
    }
}

@media only screen and (min-width: 1200px){
    .ui.container {
        width: 1300px !important;
    }
}
